# IDEs and editors  
.idea  
.project  
.classpath  
.c9
*.launch  
.settings 
*.sublime-workspace
.vscode

### ANGULAR ###
.angular
node_modules
package-lock.json

### JAVA ###
.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### BUILD ###
build
dist